# Created by https://www.toptal.com/developers/gitignore/api/erlang,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=erlang,c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Erlang ###
.eunit
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

### Erlang Patch ###
rebar3.crashdump

# End of https://www.toptal.com/developers/gitignore/api/erlang,c++

priv/*
env.mk
.erlang.mk/
*.swp
